{% extends "skeleton/base.html" %}
<!-- -->
{% block header %} {% include 'skeleton/default_header.html' %} {% endblock %}
<!-- -->
{% block footer %} {% include 'skeleton/default_footer.html' %} {% endblock %}
<!-- -->
{% block title %}Date Treasures | Home{% endblock %}
<!-- -->
{% block head %} {{ super() }} {% endblock %}
<!-- -->
{% block content %}

<div class="container">
     <div class="row clearfix" id="splash-search">
          <div class="col-md-12">
               <div class="jumbotron text-center">
                    <h2>Search a keyword</h2>
                    <p>Enter a search term to find related keywords from tweets</p>

                    <form id="keyword" class="text-center form-inline" role="form" action="/search" method="post">
                         <div class="input-group">
                              <input type="text" class="form-control typeahead" autocomplete="off" placeholder="Enter Query" name="keyword">
                              <input style="margin-top:15px;" class="btn btn-submit" type="submit" />
                         </div>
                    </form>
               </div>
               <div class="container">
               </div>
          </div>
     </div>
</div>

{% endblock %}
